{% extends "base.html" %}

{% block title %}Modulo de Reseña{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title text-center mb-5">Modulo Reseña</h1>
        {% if messages %}
        {% for message in messages %}
        {% if message.tags %}
        <div class="alert {% if 'error' in message.tags %}
                    
                    
                  alert-danger


                  {% elif 'success' in message.tags %}
                    
                    
                  alert-success


                  {% else %}
                    
                    
                  alert-info


                  {% endif %}">{{ message }}</div>
        {% else %}
        <div class="alert alert-info">{{ message }}</div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <form action="" method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Agregar Reseña</button>
          <a href="{% url 'resenyas' %}" class="btn btn-danger">Volver</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}